@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  --content-max-width: 1140px;
}

/* Constrain page content on large screens */
.content {
  width: 100%;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 200px; /* Set desired height for mobile */
    object-fit: contain; /* Crop to fill */
  }
}

.carousel-item img {
  height: 300px; /* Set desired height */
  object-fit: contain; /* Crop to fill */
}
